<body id="page-top" class="index" data-pinterest-extension-installed="cr1.3.4">

    <!-- About Section -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="col-lg-12 text-center">
          <h2 class="display-4">About Us</h2>
      </div>
      </div>
    </div>

    <section id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-subheading text-muted">Our story will marvel you!</h2>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-12">
                  <ul class="timeline">
                      <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>2018-2020</h4>
                                  <h4 class="subheading">How it all began</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                              </div>
                          </div>
                      </li>
                      <li class="timeline-inverted">
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>March 2018</h4>
                                  <h4 class="subheading">Footygasm is Born</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>December 2019</h4>
                                  <h4 class="subheading">Transition to Full online store</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                              </div>
                          </div>
                      </li>
                      <li class="timeline-inverted">
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>July 2020</h4>
                                  <h4 class="subheading">Our Vision</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                              </div>
                          </div>
                      </li>
                      <li class="timeline-inverted">
                          <div class="timeline-image">
                              <h4>Be Part
                                  <br>Of Our
                                  <br>Story!</h4>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </section>
</body>
