<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="col-lg-12 text-center">
      <h1 class="display-4">Login Now!</h1>
  </div>
  </div>
</div>

<div id="register" class="login-form">
  <form>
      <div class="section">Email</div>
      <div class="inner-wrap">
          <label>Email Address <input type="email" name="field2" /></label>
      </div>

      <div class="section">Passwords</div>
          <div class="inner-wrap">
          <label>Password <input type="password" name="field4" /></label>
      </div>
      <div class="button-section">
       <input type="submit" name="Login" />
      </div>
  </form>
  </div>
