<body id="portfolio" class="index" data-pinterest-extension-installed="cr1.3.4">

    <!-- Portfolio Grid Section -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="col-lg-12 text-center">
          <h2 class="display-4">Our Portfolio</h2>
      </div>
      </div>
    </div>

    <section id="portfolio" class="bg-light-gray px-4">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h3 class="section-subheading text-muted">A gallery of footwares that will wow you!</h3>
              </div>
          </div>
          <div class="row justify-content-center">
              <div class="col-md-4 col-sm-6 portfolio-item m-2" style="border: 1px solid cyan;">
                  <a href="#" class="portfolio-link text-center" data-toggle="modal">
                    <img src="https://images.unsplash.com/photo-1515955656352-a1fa3ffcd111?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-responsive" style="width: 200px;" alt="">
                  </a>
                  <div class="portfolio-caption">
                      <h4>Gucci snake</h4>
                      <p class="text-muted">Lorem ipsum dolor sit amet.</p>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 portfolio-item m-2" style="border: 1px solid cyan;">
                  <a href="#" class="portfolio-link text-center" data-toggle="modal">
                      <img src="https://images.unsplash.com/photo-1578116922645-3976907a7671?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-responsive" style="width: 200px;" alt="">
                  </a>
                  <div class="portfolio-caption">
                      <h4>Alexander MQ</h4>
                      <p class="text-muted">Lorem ipsum dolor sit amet.</p>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 portfolio-item m-2" style="border: 1px solid cyan;">
                  <a href="#" class="portfolio-link text-center" data-toggle="modal">
                      <img src="https://images.unsplash.com/photo-1515955656352-a1fa3ffcd111?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-responsive" style="width: 200px;" alt="">
                  </a>
                  <div class="portfolio-caption">
                      <h4>Sebago</h4>
                      <p class="text-muted">Lorem ipsum dolor sit amet.</p>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 portfolio-item m-2" style="border: 1px solid cyan;">
                  <a href="#" class="portfolio-link text-center" data-toggle="modal">
                      <img src="https://images.unsplash.com/photo-1539185441755-769473a23570?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-responsive" style="width: 200px;" alt="">
                  </a>
                  <div class="portfolio-caption">
                      <h4>DKNY</h4>
                      <p class="text-muted">Lorem ipsum dolor sit amet.</p>
                  </div>
              </div>

              <div class="col-md-4 col-sm-6 portfolio-item m-2" style="border: 1px solid cyan;">
                <a href="#" class="portfolio-link text-center" data-toggle="modal">
                  <img src="https://images.unsplash.com/photo-1515955656352-a1fa3ffcd111?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-responsive" style="width: 200px;" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Balenciaga</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item m-2" style="border: 1px solid cyan;">
                <a href="#" class="portfolio-link text-center" data-toggle="modal">
                    <img src="https://images.unsplash.com/photo-1578116922645-3976907a7671?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-responsive" style="width: 200px;" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Puncho</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
          </div>
      </div>
  </section>

</body>
