<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="col-lg-12 text-center">
      <h1 class="display-4">Make Your Payment!</h1>
  </div>
  </div>
</div>

<section class="text-center w-80 h-80% my-4">
  <header class="site-header" id="header">
		<h1 class="site-header__title" data-lead-id="site-header-title">THANK YOU!</h1>
	</header>

	<div class="main-content">
    <img src="../../../assets/images/pay.png" alt="Payment-image">
		<i class="fa fa-check main-content__checkmark" id="checkmark"></i>
		<p class="main-content__body" data-lead-id="main-content-body">Thanks a bunch for filling that out, and making payment. It means a lot to us, just like you do! We really appreciate you giving us a moment of your time today. Thanks for being you, call 08161697133 to confirm your order.</p>
  </div>
  
  <button routerLink="/products/products-list" class="mx-2 btn btn-outline-primary p-2 mb-4">
    Continue To Shopping
  </button>
</section>
