
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Sign up & get started!</h1>
  </div>
</div>

<div id="register" class="register-form">
  <form>
      <div class="section">Full Name</div>
      <div class="inner-wrap">
          <label>Your Full Name <input type="text" name="field1" /></label>
      </div>

      <div class="section">Email & Phone</div>
      <div class="inner-wrap">
          <label>Email Address <input type="email" name="field2" /></label>
          <label>Phone Number <input type="text" name="field3" /></label>
      </div>

      <div class="section">Passwords</div>
          <div class="inner-wrap">
          <label>Password <input type="password" name="field4" /></label>
          <label>Confirm Password <input type="password" name="field5" /></label>
      </div>
      <div class="button-section">
       <input type="submit" name="Sign Up" />
       <span class="privacy-policy">
          <input class="pr-2" type="checkbox" name="field7">Agree to our Terms and Policy.
       </span>
      </div>
  </form>
  </div>
